doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name = 'viewport', content="initial-scale=1.0, with=device-width")
        block title
            title Title
    body
        block main